Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
*.VC.db
*.VC.opendb
.vs/*
.vscode/
*.pyc
*.o
*slang-dump-*
Source/Externals/.packman/*
Media
Tools/.packman
Tests/data
packages/

nvcomp_exts/*
nvcomp_main/*
