################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hrender/Data/Mug
/hrender/Data/Mug
/hrender/Data/Mug
