################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hrender/Data
/rrender/rrender.vcxproj.user
/Video_Codec_SDK_11010
/Video_Codec_SDK_11010
